*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 1.25rem;
  --fs-h2: 1.75rem;
  --fs-body: 1rem;
  --fs-xl: 4rem;
  --clr-light: #fff;
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #D06D6D;
  --clr-accent-dark: #613131;
}

.sr-only:not(:focus):not(:active), .unit input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-image: url(../img/mars.jpg);
  background-size: cover;
  color: var(--clr-light);
  min-height: 100vh;
}

h1, h2, h3 {
  line-height: 1;
}

a {
  color: var(--clr-accent);
}
a:hover {
  color: var(--clr-accent-dark);
}

.main-weather {
  background: rgba(0, 0, 0, 0.7);
  padding: 2em;
  max-width: 1000px;
  margin: 4em 0 0 4em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}
.main-weather .title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  color: var(--clr-accent);
  letter-spacing: 2px;
  grid-column: 1/-1;
}
.main-weather .section-title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  margin: 0;
}
.main-weather .section-title-date {
  font-size: var(--fs-xl);
}
.main-weather .reading {
  font-size: var(--fs-h1);
  margin: 0;
  color: var(--clr-gray);
}
.main-weather .date {
  grid-column: 1/2;
}
.main-weather .date-day {
  font-size: var(--fs-h2);
  margin: 0;
  color: var(--clr-gray);
  font-weight: var(--fw-light);
}
.main-weather .temp {
  --border: solid .25em var(--clr-accent-dark);
  grid-column: 2/3;
  border-left: var(--border);
  border-right: var(--border);
  padding: 0 2em;
}
.main-weather .wind {
  grid-column: 3/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  align-self: start;
}
.main-weather .wind .section-title,
.main-weather .wind .reading {
  grid-column: 2/3;
}
.main-weather .wind-direction {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1/span 2;
}
.main-weather .wind-arrow {
  --direction: 180deg;
  --size: 1rem;
  height: calc(var(--size) * 3);
  width: var(--size);
  background: var(--clr-accent-dark);
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
  transform: translateY(-50%) rotate(var(--direction));
  transform-origin: bottom center;
}
.main-weather .info {
  grid-column: 1/3;
}
.main-weather .unit {
  grid-column: 3/4;
  place-self: end;
  color: var(--clr-light);
  display: flex;
  opacity: 0.7;
  transition: opacity 275ms linear;
}
.main-weather .unit:hover {
  opacity: 1;
}
.main-weather .unit label {
  cursor: pointer;
}
.main-weather .unit-toggle {
  cursor: pointer;
  width: 4em;
  border: 2px solid var(--clr-light);
  background: transparent;
  padding: 0;
  border-radius: 100vmax;
  margin: 0 1em;
}
.main-weather .unit-toggle::after {
  content: "";
  display: block;
  background: var(--clr-light);
  border-radius: 50%;
  height: 1rem;
  margin: 3px;
  margin-left: auto;
  width: 1rem;
}
.main-weather :checked ~ .unit-toggle::after {
  margin-left: 3px;
}

.previous-weather {
  background: var(--clr-light);
  color: var(--clr-dark);
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(60%);
  transition: transform 350ms ease;
  padding: 3rem;
}
.previous-weather .show-previous-weather {
  cursor: pointer;
  position: absolute;
  background: var(--clr-light);
  left: 50%;
  width: 10rem;
  transform: translate(-50%, calc(-100% - 3rem));
  text-align: center;
  font-size: var(--fs-h2);
  line-height: 1;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
  color: var(--clr-gray);
  border: 0;
  font-family: inherit;
}
.previous-weather .show-previous-weather:hover, .previous-weather .show-previous-weather:focus {
  color: var(--clr-dark);
}
.previous-weather .show-previous-weather span {
  display: block;
  transform: rotate(0);
  transition: transform 300ms ease;
}
.previous-weather .previous-days {
  display: flex;
  justify-content: space-between;
}
.previous-weather .previous-weather-title {
  text-transform: uppercase;
  color: var(--clr-accent);
  text-align: center;
}
.previous-weather .previous-day {
  opacity: 0;
}
.previous-weather .previous-day > * {
  margin: 0;
}
.previous-weather .previous-day-date {
  font-size: 0.9rem;
  color: var(--clr-gray);
}
.previous-weather .previous-day-more-info {
  cursor: pointer;
  border: 0;
  border-radius: 100vmax;
  background: var(--clr-dark);
  color: var(--clr-light);
  text-transform: uppercase;
  padding: 0.3em 1em;
  margin-top: 0.5em;
  margin-top: 1em;
}
.previous-weather .previous-day-more-info:hover, .previous-weather .previous-day-more-info:focus {
  background: var(--clr-gray);
}

.show-weather.previous-weather {
  transform: translateY(0);
}
.show-weather.previous-weather .show-previous-weather span {
  display: block;
  transform: rotate(180deg) translateY(-6px);
}
.show-weather.previous-weather .previous-day,
.show-weather.previous-weather .previous-weather-title {
  animation: slideUpIn 750ms forwards;
}
.show-weather.previous-weather .previous-weather-title {
  text-align: left;
}
.show-weather.previous-weather .previous-day:nth-child(1) {
  animation-delay: 100ms;
}
.show-weather.previous-weather .previous-day:nth-child(2) {
  animation-delay: 125ms;
}
.show-weather.previous-weather .previous-day:nth-child(3) {
  animation-delay: 150ms;
}
.show-weather.previous-weather .previous-day:nth-child(4) {
  animation-delay: 175ms;
}
.show-weather.previous-weather .previous-day:nth-child(5) {
  animation-delay: 200ms;
}
.show-weather.previous-weather .previous-day:nth-child(6) {
  animation-delay: 225ms;
}
.show-weather.previous-weather .previous-day:nth-child(7) {
  animation-delay: 300ms;
}

@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */